@model MovieFan.Models.Movies

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Détails</h1>

<div>
    <h4>Détails de @Model.Title</h4>
    <hr />
    <div class="row">
           @Model.Synopsis
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
